<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="voyager.voyager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".homeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CategoriesActivity"
            android:screenOrientation="portrait"
            android:label="@string/categories"/>
        <activity android:name=".FavoritesActivity"
            android:screenOrientation="portrait"
            android:label="@string/favorites"/>
        <activity android:name=".ListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListsActivity"
            android:screenOrientation="portrait"
            android:label="@string/lists"/>
        <activity android:name=".SwitchLocationActivity"
            android:screenOrientation="portrait"
            android:label="@string/switch_location"/>
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/profile"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ActivityActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>